@import "../bootstrap/bootstrap.scss";
.avatar {
    width: 2em;
    height: auto;
    border-radius: 50%;
}
.iconModelling {
    font-size: 1.7em;
    height: auto;
    background: $gray-400;
    border-radius: 50%;
    
}
.heroMain {
    background: #7550FD;

}
